<section class="page-section contenido" id="contenido">
    <div class="container">

      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Etiquetas Basicas</h2>

      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="contenido-item mx-auto" data-toggle="modal">
            <div class="contenido-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="contenido-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/img/logo.png" alt="">
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="contenido-item mx-auto" data-toggle="modal">
            <div class="contenido-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="contenido-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/img/logo.png" alt="">
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="contenido-item mx-auto" data-toggle="modal">
            <div class="contenido-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="contenido-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/img/logo.png" alt="">
          </div>
        </div>

        
        <div class="col-md-6 col-lg-4">
          <div class="contenido-item mx-auto" data-toggle="modal" >
            <div class="contenido-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="contenido-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/img/logo.png" alt="">
          </div>
        </div>

       
        <div class="col-md-6 col-lg-4">
          <div class="contenido-item mx-auto" data-toggle="modal">
            <div class="contenido-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="contenido-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/img/logo.png" alt="">
          </div>
        </div>

       
        <div class="col-md-6 col-lg-4">
          <div class="contenido-item mx-auto" data-toggle="modal">
            <div class="contenido-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="contenido-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/img/logo.png" alt="">
          </div>
        </div>

      </div>

    </div>
  </section>