
<section class="page-section contenido" id="contenido">
  <div class="jumbotron container">
    <h1>H T M L</h1>
    <h2>Etiquetas basicas</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro animi exercitationem esse provident modi voluptatem labore iusto magnam, dolor quia laborum laboriosam voluptas ea quod ullam voluptatum itaque. Architecto, esse?</p>
    <div class="d-grid gap-2">
      <a class="btn btn-info" href="etiquetas#section-etiquetas">Ir a las Etiquetas</a>
    </div>
  </div>
    <div class="container">

      <div class="row">
       
<hr>
<app-title [title]="'Estructura Basica'" [dark]="true" [main]="false"></app-title>
<div class="row row-cols-1 row-cols-md-3 g-4 container">
</div>
        <div class="col-md-6 col-lg-4">
          <div class="contenido-item mx-auto" >
            <img class="img-fluid" src="../../../assets/img/descarga3.jpg" alt="">    
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="contenido-item mx-auto">
            <img class="img-fluid" src="../../../assets/img/estructura_pagina_web.png" alt="">
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="contenido-item mx-auto">
            <img class="img-fluid" src="../../../assets/img/estructurabody.jpg" alt="">
          </div>
        </div>

        
        

      </div>

    </div>
  </section>
