
  <!-- About Section -->
  <section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">

     <app-title [title]="'Acerca de Nosotros'" [dark]="false" [main]="false"></app-title>

      <!-- About Section Content -->
      <div class="row">
        <div class="col-lg-4 ml-auto">
          <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum officia quam dolores hic corrupti adipisci expedita molestiae ullam quas ab voluptate, non iste laborum sed eius qui accusamus laboriosam ratione?</p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam similique minima suscipit qui dolorum velit dolorem eum quibusdam nobis impedit officiis, harum voluptatem dolores doloremque commodi recusandae quisquam maiores quis?</p>
        </div>
      </div>

      <!-- About Section Button -->
      <div class="text-center mt-4">
        <a class="btn btn-xl btn-outline-light" href="https://github.com/Fcovaldz/Proyecto-Angular">
          <i class="fas fa-download mr-2"></i>
          Descarga gratis Desde el repositorio en GitHub!
        </a>
      </div>

    </div>
  </section>