<div class="col">
    <div class="card text-dark bg-dark text-white" style="width: 22rem;">
      <img [src]="etiqueta.img" class="card-img-top" [alt]="etiqueta.nombre">
      <div class="card-body">
        <h5 class="card-title">{{ etiqueta.nombre }}</h5>
        <p class="card-text">{{ etiqueta.descripcion | substring:200 }}</p>
        <p class="card-text"><small class="text-muted">Funcion: {{ etiqueta.funcion }}</small></p>
        <a [routerLink]="['/etiqueta', id]" class="btn btn-primary d-grid gap-2">Saber más...</a>
      </div>
    </div>
  </div>