 <!-- Contact Section -->
 <section class="page-section" id="contact">
    <div class="container">
        <app-title [title]="'Contactanos'" [dark]="false" [main]="false"></app-title>

      <!-- Contact Section Form -->
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <form>
            <div>
              <div class="mb-0 pb-2">
                <label>Nombre</label>
                <input class="form-control" type="text" placeholder="Nombre">
              </div>
            </div>
            <div>
              <div class="mb-0 pb-2">
                <label>Correo electronico</label>
                <input class="form-control" type="email" placeholder="Correo electronico">
              </div>
            </div>
            <div>
              <div class="mb-0 pb-2">
                <label>Telefono</label>
                <input class="form-control" type="number" placeholder="Telefono">
              </div>
            </div>
            <div>
              <div class="mb-0 pb-2">
                <label>Message</label>
                <textarea class="form-control" id="message" rows="5" placeholder="Comentarios"></textarea>
              </div>
            </div>
            <div>
              <a href="mailto:franciscobanuelosvaladez@gmail.com" type="submit" class="btn btn-primary btn-xl">Send</a>
            </div>
          </form>
        </div>
      </div>

    </div>
  </section>
  